@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, 
 strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, 
 label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
}
html { height: 100%; background-attachment: fixed; }
body { margin: 0; padding: 0; line-height: normal; font-size: 12px; color: #7B7B7B; font-family: '微软雅黑', Arial, Helvetica, sans-serif; behavior: url(/script/hover.htc); background-image: url(about:blank); background-attachment: fixed; }
img, form, p { margin: 0; padding: 0; border: 0; }
ul, ol { margin: 0; padding: 0; list-style-type: none; }
hr, dl, dt, dd { margin: 0px; padding: 0px; }
table { border-collapse: collapse; border-spacing: 0px; }
pre { margin: 0px; padding: 0px; border: 0px; overflow: hidden; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; }
select, input, textarea, button { font-size: 13px; }
a { text-decoration: none; color: #444; }
a:hover { text-decoration: none; color: #F6B32E; }
th { text-align: left; }
.clear { display:block;  height:0px; font-size:0px; overflow:hidden; width:100%;clear:both;}
.left{float: left;}
.right{float: right;}

.warp{ width:1100px; margin:auto;}
.header{ width:100%;height:122px; position: relative; background:#FFF; left:0px; top:0; z-index:999;-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.15);-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.15);box-shadow: 0 1px 4px rgba(0,0,0,0.15);}
.header .header-content{ height:94px; padding:14px 0;}
.header .header-content .logo img{ padding-top:9px;}
.header .header-content .nav{ padding-top:39px;}
.header .header-content .nav .menu{margin-right: 15px;}
.header .header-content .nav .menu ul li {float:left;position:relative;margin: 0px 3px;}
.header .header-content .nav .menu ul li a, .menu ul li a:visited {display:block;text-align:center;text-decoration:none;color:#000;border-top:1px solid #fff;border-width:1px 1px 0 0;background:#fff;line-height:20px;padding: 5px 0px;font-size:14px;width: 85px;}
.header .header-content .nav .menu ul li ul {display: none;z-index: 99;}
.header .header-content .nav .menu ul li:hover a {color:#fff;background:#F6B32E;}
.header .header-content .nav .menu ul li:hover ul {display:block;position:absolute;top:31px;left:0;width:105px;}
.header .header-content .nav .menu ul li:hover ul li a {display:block;background:#DDDDDD;color:#000;}
.header .header-content .nav .menu ul li:hover ul li a:hover {background:#F6B32E;color:#fff;}
.header .header-content .nav .sousuo{ float:right; position:relative;}
.header .header-content .nav .sousuo #serach{position: absolute; left:-193px; top: 34px; width: 230px; height: 35px; z-index:9999; display: none;}
.header .header-content .nav .sousuo #serach input{padding: 7px 21% 7px 5%;width: 73%;margin: 0;border: 2px solid #F6B32E;font-family: '微软雅黑';color: #666;font-size: 12px;}




.banner{ min-width: 1200px;width:100%;height:590px;}
.banner .pro-switch {height: 590px;overflow: hidden;position: relative;width:100%;}
.banner .flexslider {margin: 0;padding: 0;}
.banner .flexslider .slides > li {display: none;-webkit-backface-visibility: hidden; position:relative;}
.banner .flexslider .slides img {width: 100%;display: block;}
.banner .slides:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 450px;}
.banner .no-js .slides > li:first-child {display: block;}
.banner .flexslider {margin: 0 auto;position: relative;width:100%;zoom: 1;}
.banner .flex-viewport {max-height: 2000px;-webkit-transition: all 1s ease;-moz-transition: all 1s ease;transition: all 1s ease;}
.banner .flexslider .slides {zoom: 1;}
.banner .flex-direction-nav {*height: 0;}
.banner .flex-direction-nav a {width: 60px;height: 90px;margin: -60px 0 0;display: block;background: url(../images/ad_ctr.png) no-repeat 0 0;position: absolute;top: 50%;z-index: 10;cursor: pointer;text-indent: -9999px;opacity: 0;filter:alpha(opacity=0);-webkit-transition: all .3s ease;}
.banner .flex-direction-nav .flex-next {background-position: 0 -90px;right: 0;}
.banner .flex-direction-nav .flex-prev {left: 0;}
.banner .flexslider:hover .flex-next {opacity: 0.8;filter:alpha(opacity=25);}
.banner .flexslider:hover .flex-prev {opacity: 0.8;filter:alpha(opacity=25);}
.banner .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;filter:alpha(opacity=50);}
.banner .flex-control-nav {width: 100%;position: absolute;bottom: 25px;text-align: center;}
.banner .flex-control-nav li {margin: 0 5px;display: inline-block;zoom: 1;*display: inline;}
.banner .flex-control-paging li a {background: url(../images/dot.gif) no-repeat 0 0px;display:block;height: 5px;overflow: hidden;text-indent:-99em;width: 60px;cursor: pointer;}
.banner .flex-control-paging li a.flex-active {background-position: 0 -5px;}


.product-xilie{ padding:50px 0 80px;}
.product-xilie .product-xilie-content{ width:1100px;margin:auto;}
.product-xilie .product-xilie-content h2{ font-size:30px; color:#1f2228; text-align:center; padding-bottom:10px;}
.product-xilie .product-xilie-content h3{ width:615px; margin:0 auto; font-weight:normal; font-size:12px; line-height:20px; color:#8c8c8c; text-align:center;}
.product-xilie .product-xilie-content .product-xilie-content-more{ padding-top:50px;}
.product-xilie .product-xilie-content .product-xilie-content-more div{ float:left; padding-right:3.75%; width:17%;}
.product-xilie .product-xilie-content .product-xilie-content-more div img{ width:100%;}
.product-xilie .product-xilie-content .product-xilie-content-more div p{ font-size:18px; color:#1f2228; text-align:center; padding-top:20px;}
.product-xilie .product-xilie-content .index-wliao-btn{ text-align:right; padding-top:20px;}
.product-xilie .product-xilie-content .index-wliao-btn a{display:inline-block; padding:16px 66px; background:#F6B42E; color:#fff; font-size:20px; font-weight:700;}
.product-xilie .product-xilie-content .index-wliao-btn a:hover{ background:#e39f14;}

.about-tuijian{ padding:50px 0 80px; background:#EEEEEE;}
.about-tuijian .about-tuijian-content{width:1100px;margin:auto;}
.about-tuijian .about-tuijian-content .about-tuijian-content-l{ width:42.727272727272%;}
.about-tuijian .about-tuijian-content .about-tuijian-content-l h2{ font-size:20px; color:#333; padding-bottom:20px;}
.about-tuijian .about-tuijian-content .about-tuijian-content-l h2 span{ font-size:16px; font-family:Arial; color:#88898A; font-weight:normal; padding-left:10px;}
.about-tuijian .about-tuijian-content .about-tuijian-content-l p{ font-size:14px; color:#444; line-height:26px; padding-bottom:10px;}
.about-tuijian .about-tuijian-content .about-tuijian-content-r{ width:560px;}
.about-tuijian .about-tuijian-content .about-tuijian-content-r h2{ font-size:20px; color:#333; padding-bottom:25px;}
.about-tuijian .about-tuijian-content .about-tuijian-content-r h2 span{ font-size:16px; font-family:Arial; color:#88898A; font-weight:normal; padding-left:10px;}
.about-tuijian .about-tuijian-content .about-tuijian-content-r p.case-tittle{ width:260px; font-size:16px; color:#444; line-height:26px; padding-bottom:8px; padding-top:8px;}
.about-tuijian .about-tuijian-content .about-tuijian-content-r p.case-jieshao{ width:260px; font-size:14px; line-height:24px; color:#666;}
.about-tuijian .about-tuijian-content .about-tuijian-content-r .about-tuijian-content-r-more{ width:100%;}
.about-tuijian .about-tuijian-content .about-tuijian-content-r .about-tuijian-content-r-more div{ margin-right:5.7%;}
.about-tuijian .about-tuijian-content .about-tuijian-content-r .about-tuijian-content-r-more div img{ border:2px solid #eeeeee;}
.about-tuijian .about-tuijian-content .about-tuijian-content-r .about-tuijian-content-r-more div img:hover{ border:2px solid #F6B32E;}

.ny-nav{ width:1100px; margin:auto; position:relative; padding-top:210px;}
.ny-nav ul li a.ny-nav-tittle{ width:205px; height:78px; line-height:78px; padding-left:40px; color:#666; font-size:16px; display:block; background:#FFF url(../images/ny-nav-icon.gif) 190px 50% no-repeat;-webkit-box-shadow: 0 4px 10px rgba(0,0,0,0.18);-moz-box-shadow: 0 4px 10px rgba(0,0,0,0.18);box-shadow: 0 4px 10px rgba(0,0,0,0.18);}

.ny-nav ul li .ny-nav-more{ background:#fff; padding-bottom: 20px;-webkit-box-shadow: 0 7px 9px rgba(0,0,0,0.18);-moz-box-shadow: 0 7px 9px rgba(0,0,0,0.18);box-shadow: 0 7px 9px rgba(0,0,0,0.18);}


.ny-nav ul li .ny-nav-more li a{ line-height:30px; font-size:16px; color:#666; padding-left:40px;}
.ny-nav ul li .ny-nav-more li a:hover{ color:#F6B32E;}

.chanplb{ padding:90px 0;}
.chanplb .chanplb-content{width:1100px; margin:auto;}
.chanplb .chanplb-content h2{ font-size:20px; color:#666; font-weight:normal; padding-bottom:16px;}
.chanplb .chanplb-content h3{ font-size:14px; color:#666; font-weight:normal; padding-bottom:40px;}
.chanplb .chanplb-content .chanplb-jieshao .chanplb-jieshao1{ width:46%; margin-right:7.272727272727%; margin-bottom:40px;}
.chanplb .chanplb-content .chanplb-jieshao h4{ font-size:18px; color:#666; padding-bottom:20px; font-weight:normal;}
.chanplb .chanplb-content .chanplb-jieshao dl dt{ width:42.4901185770751%; float:left; margin-right:4.1%;}
.chanplb .chanplb-content .chanplb-jieshao dl dt img{ width:100%;}
.chanplb .chanplb-content .chanplb-jieshao dl dd{ width:53.3596837944664%; float:left;}
.chanplb .chanplb-content .chanplb-jieshao dl dd p{ font-size:14px; color:#666; line-height:26px; padding-bottom:13px;}
.chanplb .chanplb-content .chanplb-jieshao dl dd a{ font-size:12px; color:#fff; background:#F6B42E; padding:5px 10px;}
.chanplb .chanplb-content .chanplb-jieshao dl dd a:hover{ text-decoration:underline;}

.chanpxx{ padding:90px 0;}
.chanpxx .chanpxx-content{width:1100px; margin:auto;}
.chanpxx .chanpxx-content .chanpxx-content-jieshao{ padding-bottom:60px;}
.chanpxx .chanpxx-content .chanpxx-content-jieshao a.fanhui-btn{ padding:12px 30px; background:#F6B32E; font-size:16px; color:#fff; margin-top:30px; display:inline-block;}
.chanpxx .chanpxx-content .chanpxx-content-jieshao .chanpxx-content-jieshao-l{ width:51.81818181818%; float:left;}
.chanpxx .chanpxx-content .chanpxx-content-jieshao .chanpxx-content-jieshao-l h2{ font-size:20px; color:#666; padding-bottom:18px; font-weight:normal;}
.chanpxx .chanpxx-content .chanpxx-content-jieshao .chanpxx-content-jieshao-l p{ font-size:14px; color:#666; line-height:28px; padding-bottom:10px;}
.chanpxx .chanpxx-content .chanpxx-content-jieshao .chanpxx-content-jieshao-r{ width:41.181818181818%; float:right;}
.chanpxx .chanpxx-content .chanpxx-content-jieshao .chanpxx-content-jieshao-r img{ width:100%;}
.chanpxx .chanpxx-content .chanpxx-content-case{ border-top:1px solid #777777; padding-top:35px;}
.chanpxx .chanpxx-content .chanpxx-content-case h2{font-size:20px; color:#666; padding-bottom:18px; font-weight:normal;}
.chanpxx .chanpxx-content .chanpxx-content-case h3{font-size:14px; color:#666; padding-bottom:27px; font-weight:normal;}
.chanpxx .chanpxx-content .chanpxx-content-case .chanpxx-content-case-lb dl{ width:22.72727272727272%; float:left; margin-right:3%; margin-bottom:30px;}
.chanpxx .chanpxx-content .chanpxx-content-case .chanpxx-content-case-lb dl dd h5{ font-size:16px; color:#444; padding-top:11px; padding-bottom:8px; font-weight:normal;text-align: center;}
.chanpxx .chanpxx-content .chanpxx-content-case .chanpxx-content-case-lb dl dd p{ font-size:13px; color:#777; line-height:22px;}

.neiye{ padding:90px 0;}
.neiye .neiye-content{width:1100px; margin:auto;}
.neiye .neiye-content h2{ font-size:20px; color:#666; font-weight:normal; padding-bottom:16px;}
.neiye .neiye-content p{ font-size:14px; line-height:28px; color:#666; font-weight:normal; padding-bottom:10px;}
.neiye .neiye-content p img{ width:100%; margin:10px 0;}


.footer{ width:100%; background:#222222;}
.footer .footer-content{width:1100px; margin:auto; padding:30px 0 20px; position:relative;}
.footer .footer-content .logo-fenxiang .logo-fenxiang-logo{ width:160px;height: 51px; border-right:1px solid #4E4E4E;}
.footer .footer-content .logo-fenxiang .logo-fenxiang-fenxiang{ padding:5px 25px;}
.footer .footer-content .logo-fenxiang .logo-fenxiang-fenxiang a{ margin-right:10px;}
.footer .footer-content .logo-fenxiang .logo-fenxiang-fenxiang a.weibo{ background:url(../images/foot-fenxiang-icon.png) 0px 0px no-repeat; width:41px; height:41px; display:block;}
.footer .footer-content .logo-fenxiang .logo-fenxiang-fenxiang a.baidu{ background:url(../images/foot-fenxiang-icon.png) -50px 0px no-repeat; width:41px; height:41px; display:block;}
.footer .footer-content .logo-fenxiang .logo-fenxiang-fenxiang a.weixin{ background:url(../images/foot-fenxiang-icon.png) -100px 0px no-repeat; width:41px; height:41px; display:block;}
.footer .footer-content .logo-fenxiang .logo-fenxiang-fenxiang a.maill{ background:url(../images/foot-fenxiang-icon.png) -150px 0px no-repeat; width:41px; height:41px; display:block;}
.footer .footer-content .logo-fenxiang .logo-fenxiang-fenxiang a.weibo:hover{ background:url(../images/foot-fenxiang-icon.png) 0px -41px no-repeat; }
.footer .footer-content .logo-fenxiang .logo-fenxiang-fenxiang a.baidu:hover{ background:url(../images/foot-fenxiang-icon.png) -50px -41px no-repeat; }
.footer .footer-content .logo-fenxiang .logo-fenxiang-fenxiang a.weixin:hover{ background:url(../images/foot-fenxiang-icon.png) -100px -41px no-repeat; }
.footer .footer-content .logo-fenxiang .logo-fenxiang-fenxiang a.maill:hover{ background:url(../images/foot-fenxiang-icon.png) -150px -41px no-repeat; }
.footer .footer-content .lianxidianhua{ position:absolute; right:0px; top:50px; background:url(../images/footer-tel-icon.png) 0px 1px no-repeat; padding-left:45px;}
.footer .footer-content .lianxidianhua p{ color:#8e8e8e; font-size:24px; line-height:20px; font-family:Arial;}
.footer .footer-content .lianxidianhua p span{ font-size:14px; font-family:'微软雅黑';}


.footer .footer-content ul{ padding-left:10px; padding-top:25px; height:30px;}
.footer .footer-content ul li{ float:left; margin-right:35px;}
.footer .footer-content ul li a{ color:#8e8e8e; font-size:14px;}
.footer .footer-content ul li a:hover{ color:#fff;}
.footer .footer-content .foot-contact{ padding:20px 0; margin:10px 0; border-top:1px solid #4E4E4E; border-bottom:1px solid #4E4E4E; position:relative;}
.footer .footer-content .foot-contact p{color:#8e8e8e; font-size:14px; line-height:26px;}


/*        切换   */
.Paging{ text-align:center; padding-top:30px;}
.Paging a {border: solid 1px #777777;line-height: 40px;padding: 7px 15px;color: #666;font-size:14px;background-color: white;margin: 0 4px 0 0;}
.Paging a:hover{background:#F6B32E;color: #fff;border: solid 1px #F6B32E;}
.Paging .current {background:#F6B32E;color: #fff;border: solid 1px #F6B32E;}








